.movie-details {
  margin: 20px;
}

.movie-details-inner {
  display: flex;
}

.movie-details-content {
  width: 50%;
  margin: 20px;
}

body {
  background: url('https://images.unsplash.com/photo-1467810160588-c86c0deb5d16?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80)');
  background-position: 50% 20%;
  background-size: center;
  color: white;
}

a {
  color: white;
}
